{%extends "layout.html"%} 
{%block title%}<title>About</title>{%endblock%}
{%block content%} {{super() }}
<h1 class="center">About Yuval Sherman</h1>
<p class="important; tab">I am a Python programmer.
This site and application is supposed to manage a simple book library.
<br>
* What is it, what does it do / Abstract
<br><br>
Build a client application to use the DAL (from project file instruction). i will be using flask as logic and html as gui and sql-alchemy as database managment. sqlite3 as SQL database.
<br>
* this is what i will use
<br><br>
i will use dal to handle the database part. (from google): Segregating the data access code to allow better maintainability and easy migration of database if needed.
<br>
i will use flask to build a development server to upload the program to the web and allows fast debugging at real time. also, use blueprints (object in flask) to divide the program
<br>
i will use html in order to let the user view the program online.
<br>
i will be working in a virtual enviorment
<br>
</p>
{%endblock%}