{%extends "layout.html"%} 
{%block title%}<title>Welcome {{username}}</title>{%endblock%}
{%block content%} {{super() }}
<!--header-->
<h1 class="center">Welcome {{username}} <!--your profile number is position</h1>-->
<!--avatar img by user index-->
<!--<img src="{{url_for('static',filename='')}}book.position.png">-->
<!--paragraph-->
<p class="important, tab">this is user return a book page. <br><br><br> all books: {{username}}</p><br>



<!--w3 Widget cards from home-->
<div class="row row-cols-1 row-cols-md-4 g-4">
    {% for book in res %}
    <div class="col">
      <div class="card">
        <a href="/user/loanbook/{{book}}"><br/>
          <img
            src="https://picsum.photos/120/16{{loop.index}}"
            width="100"
            height="200"
            class="card-img-top"
            alt="loop index of picsum photos could not load"
        /></a>
        <div class="card-body">
          <h5 class="card-title">Book Name: {{ book.name}}</h5>
          <p class="card-text">Id: {{book.bookid}}</p>
          <p class="card-text">Author: {{book.author}}</p>
          <p class="card-text">Year Published :{{book.yearpublished}}</p>
          <p class="card-text">Loantype: {{book.loantype}}</p>
          <a class="btn btn-primary" href="/user/retloan?custid={{book.custid}}&bookid={{book.bookid}}&custname={{book.custname}}">Return a Loaned book to the library</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  <!--end Widget cards-->
  <!--w3 card PICTURE-->
  <div class="w3-card-4">
    <img src="img_snowtops.jpg" alt="Alps" />
    <div class="w3-container w3-center">
      <!--text-->
      <p>The Italian / Austrian Alps</p>
    </div>
  </div>


<!--button send to admin(for now)/loan/book-->
<a class="btn btn-success" href='#'>broken button {{book}}</a><br>
{%endblock%}